.chess-board {
    margin: 0 auto;
    border-collapse: collapse;
    width: auto;
}

.chess-board td, .chess-board th {
    width: 69px;
    height: 69px;
    text-align: center;
}

.chess-board th {
    border-bottom: 0px;
    color: #999;
}

.chess-board tr td {
    border: 1px solid #777;
    font-size: 25px;
}

.white {
    background: #BBB;
}

.black {
    background: #777;
}

.piece-white {
    color: #FFF;
}

.piece-black {
    color: #111;
}

.is-selected {
    background: red;
}

.pointer:hover {
    cursor: pointer;
}
