.chess-board {
    margin: 0 auto;
    border-collapse: collapse;
    width: auto;
}

.chess-board td, .chess-board th {
    width: 69px;
    height: 69px;
    text-align: center;
}

.chess-board th {
    border-bottom: 0px;
}

.chess-board tr td {
    border: 1px solid black;
}

.white {
    background: white;
    color: black;
}

.black {
    background: black;
    color: white;
}
